@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-*: initial;
  --color-primary: #5959ff;
  --color-primary-hover: #4536f5;
  --color-primary-dark: #6c6ce1;
  --color-primary-dark-hover: #5247bb;
  --color-secondary: #667085;

  --color-foreground: #667085;
  --color-text-white: #fff;
  --color-text-dark: #0d1117;
  --color-border: #d0d5dd;

  --font-klein: Klein, sans-serif;
}
