@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-*: initial;

  --color-white: #ffffff;
  --color-light-purple: #f2f2ff;

  --color-light-bg: #ffffff;
  --color-dark-bg: #121212;

  --color-primary: #5959ff;
  --color-primary-hover: #4536f5;
  --color-primary-disabled: ;

  --color-primary-dark: #6c6ce1;
  --color-primary-dark-hover: #5247bb;
  --color-primary-dark-disabled: ;

  --color-text-main: #0d1117;
  --color-text-secondary: #667085;
  --color-text-muted: #d0d5dd;

  --color-card-border: #d0d5dd;

  --font-klein: Klein, sans-serif;
}
